@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


.home_page {
     width: 100%;
     height: 100%;
}

.home_wrapper{
     width: 100%;
}

.leftContent h1{
     font-size: 4vw;
     font-weight: 600;
}

.leftContent h3{
     font-size: 1.2vw;
     font-weight: 600;
     color: #212121;
     margin: 25px 0 15px 0;
}

.hero_content{
     padding: 60px 80px;
}


.latest_job_wrapper{
     text-align: center;
     padding-bottom: 60px;
}

.alljobs_btn{
     padding: 8px 12px;
     font-family: 'Montserrat', sans-serif;;
     font-size: 18px;
     font-weight: 600;
     border-radius: 8px;
     border: none;
     outline: none;
     background: rgb(40, 158, 255);
     color: #fff;
}

.latest_job_wrapper h2{
     text-align: center;
     font-size: 38px;
     margin: 90px 0 25px 0;
}

.hero_content_area  button{
     padding: 10px 18px;
     font-family: 'Montserrat', sans-serif;
     border: none;
     outline: none;
     font-size: 18px;
     font-weight: 600;
     border-radius: 6px;
     background: #fff;
     margin-top: 30px;
}


.home_latest_job_area{
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-start;
     gap: 2.8vw;
     padding: 45px 80px;

}














/* Module CSS (HomePage.module.css) */

.homePageContainer {
     display: flex;
     height: 100vh;
     align-items: center;
   }
   
   .leftContent {
     position: relative;
     z-index: -1;
     padding:60px;
   }
   
   .rightContent {
     position: relative;
     z-index: -1;
     padding: 20px;
   }

     .rightContent img{
          width: 92%;
     } 
   
   .exploreButton {
     background-color: #56b8ff;
     color: white;
     border: none;
     padding: 10px 20px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
     font-family: 'Montserrat', sans-serif;
     border-radius: 12px;
   }
   
   


















@media (max-width: 768px) {
     .home_wrapper{
          background-size: 260vw ;
     }

     .hero_content{
          padding: 20px;
     }

     .leftContent{
          padding: 80px 40px;
     }

     .leftContent h1{
          font-size: 6.7vw;
     }

     .leftContent h3{
          font-size: 2.6vw;
     }

     .rightContent img{
          width: 90vw;
     }

     .hero_content_area  button{
          font-size: 3vw;
          margin-bottom: 5vh;
     }

     .home_latest_job_area{
          flex-direction: column;
          padding: 30px;
     }

     .homePageContainer{
          flex-direction: column;
          align-items: flex-start;
     }
}