@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


.home_page {
     max-width: 1280px;
     margin: 0 auto;
     height: 100%;
}

.home_wrapper{
     width: 95%;
     margin: 0 auto;
}































































.latest_job_wrapper{
     text-align: center;
     padding-bottom: 60px;
}

.alljobs_btn{
     padding: 8px 12px;
     font-family: 'Montserrat', sans-serif;;
     font-size: 18px;
     font-weight: 600;
     border-radius: 8px;
     border: none;
     outline: none;
     background: rgb(40, 158, 255);
     color: #fff;
}

.latest_job_wrapper h2{
     text-align: center;
     font-size: 38px;
     margin: 5rem 0;
}


.home_latest_job_area{
     width: 90%;
     margin: 0 auto;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     /* gap: 4.5rem; */
     gap: 2rem;
}





@media (max-width: 768px) {


     .home_latest_job_area{
          grid-template-columns: repeat(1, 1fr);
          margin: 0 auto;
          align-content: center;
     }

}