@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');


.home_page {
     width: 100%;
     height: 100%;
}

.home_wrapper{
     width: 100%;
     background-image: url('https://themezhub.net/workoo-live/workoo/assets/img/bgbanner-3.png');
     background-position: center;
     background-size: contain;
     background-repeat: no-repeat;
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
}

.hero_container{
     padding: 60px;
}

.hero_content_area h1{
     font-size: 48px;
     color: #211111;
}

.hero_content_area span{
     color: rgb(62, 184, 255);
}

.hero_content_area{
     width: 1300px;
     height: 600px;
     /* background: #a9d0ff92;
     border-radius: 520px 10px 380px 38px; */
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

.latest_job_wrapper{
     text-align: center;
     padding-bottom: 60px;
}

.alljobs_btn{
     padding: 8px 12px;
     font-family: 'Montserrat', sans-serif;;
     font-size: 18px;
     font-weight: 600;
     border-radius: 8px;
     border: none;
     outline: none;
     background: rgb(40, 158, 255);
     color: #fff;
}

.latest_job_wrapper h2{
     text-align: center;
     font-size: 38px;
     margin: 90px 0 25px 0;
}

.hero_content_area  button{
     padding: 10px 18px;
     font-family: 'Montserrat', sans-serif;
     border: none;
     outline: none;
     font-size: 18px;
     font-weight: 600;
     border-radius: 6px;
     background: #fff;
     margin-top: 30px;
}


.home_latest_job_area{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     padding: 45px 80px;

}





@media (max-width: 768px) {
     .home_wrapper{
          background-size: 260vw ;
     }

     .hero_content_area h1{
          font-size: 4.1vw;
     }

     .hero_content_area  button{
          font-size: 3vw;
          margin-bottom: 5vh;
     }

     .home_latest_job_area{
          flex-direction: column;
          padding: 30px;
     }
}