.Navbar_wrapper{
     height: 70px;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 0 60px;
}

/* .main_menu_area ul li >  a{
     transition: all 0.2s ease;
}

.main_menu_area ul li > a:hover{
     letter-spacing: 1.2px;
     line-height: 2px;
} */


.logo_area{
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 5px 8px;
     border-radius: 12px;
     background: #212121;
}


.logo_area .logo{ 
     font-family: 'Montserrat Alternates', sans-serif;
     font-family: 'Montserrat', sans-serif;
     font-style: italic;
     font-size: 1.5rem;
     font-weight: 600;
     color: rgb(255, 255, 255);
     cursor: pointer;
}

.menubar_area{
     position: absolute;
     right: 20px;
}

.menubar_area input{
     /* display: none; */
}

.menubar_area label{
     display: none;
}


.Navbar_wrapper  .main_menu_area ul{
     display: flex; 
     align-items: center;
}

.Navbar_wrapper .main_menu_area ul a{
     list-style-type: none;
     padding: 0 1.3125rem;
     text-decoration: none;
     color: #161718;
     font-weight: 500;
}

.sign_in_up_btns{
     display: flex;
     width: 310px;
     justify-content: flex-end;
     align-items: center;
}

.sign_in_up_btns #register{
     color: #010101;
     padding: 8px 10px;
     border: 1px solid #dadada;
     border-radius: 10px;
     margin-right: 1.3125rem;
}

.sign_in_up_btns #signin_btn{
     padding: 8px 10px;
     border-radius: 10px;
     background: #212121;
     color: #fff;
}


.user_image{
     width: 2.8vw;
     margin-left: 1vw;
     border-radius: 50%;
}


.logout_btn{
     padding: 8px 12px;
     border-radius: 8px;
     background: #212121;
     color: #fff;
     font-family: 'Montserrat', sans-serif;
     font-weight: 600;
     font-size: 15px;
}









@media (max-width: 786px) {


     .Navbar_wrapper{
          padding: 0 20px;
     }


     .main_menu_area{
          padding: 25px;
          width: 70vw;
          height: 45vh;
          background: #212121;
          position: absolute;
          top: 70px;
          right: 0;
          border-radius: 0 0 0 10px;
     }

     .menubar_area label{
          display: block;
          font-size: 20px;
     }



     .main_menu_area ul{
          flex-direction: column;
          align-items: end;
     }

     .Navbar_wrapper .main_menu_area ul a{
          text-align: end;
          color: #fff;
          margin-bottom: 8px;

     }

     .sign_in_up_btns{
          flex-direction: column;
          align-items: center;
          justify-content: center;
     }

     .sign_in_up_btns #signin_btn{
          padding: 8px 18px;
     }

     .logo_area .logo{
          font-size: 1rem;
     }
}



















