.navbar_container{
     width: 100%;
     height: 4rem;
     position: fixed;
     background: #fff;
     box-shadow: rgba(17, 17, 26, 0.1) 0px 3px 5px;
}

.logo_area{
     display: flex;
}

.menubar_wrapper{
     position: absolute;
     right: 2rem;
     display: none;
}

.navbar_wrapper{
     position: relative;
     max-width: 1280px;
     height: 100%;
     margin: 0 auto;
     padding: 0 2rem;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.logo{
     font-size: 1.2rem;
     color: rgb(4, 148, 196);
     font-weight: 600;
}

.menubar_wrapper button{
     background: none;
     font-size: 1.5rem;
     border: none;
}

.mobile_logo{
     display: none;
}

.main_menu_area ul{
     display: flex;
     align-items: center;
}

.main_menu_area ul a{
     text-decoration: none;
     color: #212121;
     padding: 0 1rem;
     font-weight: 500;
}

.sign_in_up_btns{
     display: flex;
}

#register{
     padding: 0.5rem 1rem;
     border: 1px solid #313131;
     border-radius: .6rem;
}

#signin_btn{
     padding: 0.5rem 1rem;
     background: #212121;
     color: rgb(255, 255, 255);
     border-radius: .6rem;
     margin-left: 1rem;
}

.logout_btn{
     padding: 0.5rem 1rem;
     background: none;
     border: 1px solid #212121;
     border-radius: .6rem;
}

.social_icon_wrapper{
     display: none;
}


.social_icons{
     margin-top: 35px;
}

.social_icons ul{
     display: flex;
}

.social_icons ul li{
     list-style-type: none;
     margin-right: 10px;
     font-size: 16px;
     width: 28px;
     height: 28px;
     background: #ffffff4b;
     border-radius: 50%;
     color: rgba(255, 255, 255, 0.482);
     display: flex;
     align-items: center;
     justify-content: center;
     transition: all 0.3s ease-in;
}

.social_icons ul li:hover{
     color: #fff;
}


.user_image{
     width: 2rem;
     height: 2rem;
     border-radius: 50%;
     margin-left: 1rem;
}



@media (max-width: 1080px) {
     .menubar_wrapper{
          display: block;
     }

     .main_menu_area{
          display: none;
     }

     .mobile_logo{
          display: block;
          padding-left: 0.8rem;

     }

     .mobile_logo h2{
          color: #FFF;
          font-size: 1.2rem;
          font-weight: 600;
     }

     .mobile_menu{
          transition: 0.5s;
          width: 320px;
          position: absolute;
          border: 1px solid;
          right: 0;
          top: 4rem;
          height: calc(100vh - 4rem);
          background: #212121;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
     }

     .mobile_menu ul a{
          text-decoration: none;
          border-bottom: 1px solid ;
          padding: .8rem;
          color: #fff;
     }


     .main_menus{
          display: flex;
          flex-direction: column;
          gap: 1rem;
     }

     .sign_in_up_btns{
          margin-top: 1rem;
          flex-direction: column;
          align-items: flex-start;
          gap: 1rem;
     }

     .logout_btn, #register, #signin_btn{
          width: 100%;
          color: #fff;
          border-bottom: 1px solid ;
          border-radius: 0;
          text-align: start;
          font-size: 1rem;
     }

     .social_icon_wrapper{
          display: block;
          padding-left: 0.8rem;
     }

     .social_icon_wrapper h2{
          color: #fff;
          font-size: 1.2rem;
          font-weight: 600;
     }

     .social_icon_wrapper p{
          margin-top: 0.5rem;
          color: #fff;
     }
}

@media (max-width: 500px) {
     .mobile_menu{
          width: 100%;
     }
}