.jobs_wrapper{
     max-width: 1280px;
     margin: 0 auto;
     min-height: 100vh;
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 1.5rem;
     padding: 60px;
     justify-content: space-between;
}

@media (max-width: 768px) {
     .jobs_wrapper{
          padding: 60px 20px;
          justify-content: center;
     }
}